# build directories
build*/

# Athena output files
*.tab
*.vtk
*.bin
*.athdf*
*.hst
*.rst

# staging scan outputs
staging_manifests/

# Mac OS metadata
.DS_Store
.vscode

# editor temp files
*~
*.swp
Lorene
