# build directories
build*/

# cmake files
CMakeFiles/
CMakeCache.txt

# analysis cache directories
vis/python/__pycache__/

# Athena output files
*.tab
*.vtk
*.bin
*.athdf*
*.hst
*.rst

# Mac OS metadata
.DS_Store
.vscode

# editor temp files
*~
*.swp
Lorene
